<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="<%= baseurl() %>css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="login-wrap">
        <form action="<%= baseurl() %>login/auth" method="POST">
        <div class="fixMiddle loginBoxsize">
            <div class="bodyLogin">
                <table>
                    <tr>
                        <td>
                            <p class="size-std"><%= text %> </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bottomLogin">
                <p class="size-std" style="position: absolute; bottom: 10px; left: 0; right: 0; height: 20px;">&copy;Copyright by Kadence Indonesia All right reserved</p>
            </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>